backend/node_modules/
backend/dist/

node_modules/
frontend/node_modules/

dist/
frontend/dist/

dev-dist/
frontend/dev-dist/
frontend/.vite/

dist-ssr/
frontend/dist-ssr/

.DS_Store
Thumbs.db
*.log
logs/
*.local
.eslintcache

.env
.env.production
frontend/.env.production
.env.local
.env.*.local
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.*.local

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

VKR_word

backend/prisma/seed-assets/products/assets.zip

*.tsbuildinfo
deploy/.env