POSTGRES_USER=coop
POSTGRES_PASSWORD=замените_длинный_пароль
POSTGRES_DB=coop

JWT_SECRET=замените_случайная_строка_32_символа
JWT_ACCESS_EXPIRES=60m
JWT_REFRESH_EXPIRES=7d
PORT=3000

CORS_ORIGINS=https://coopykt.ru,https://www.coopykt.ru

MINIO_ACCESS_KEY=замените_minio_user
MINIO_SECRET_KEY=замените_minio_secret
MINIO_BUCKET=coop-products
MINIO_DRIVER_BUCKET=coop-driver-docs
MINIO_TICKETS_BUCKET=coop-tickets
MINIO_PUBLIC_URL=https://coopykt.ru
